.input{
  padding: 0;
  box-sizing: border-box;
  display: flex;
  background: none;
  border: none;
  color: #fff;
}

.input_profile {
  margin: 0 0 0 20px;
  max-width: 80%;
  min-width: 50%;
  min-height: 30px;
  justify-content: flex-end;
  flex: 1 1 auto;
  text-align: right;
  outline: none;
  border: 0 #4285F4 solid;
  border-radius: 9px;
  transition: padding 300ms ease-out;
}

.input_profile::placeholder {
  color: #fff;
}

.input_profile:focus {
  border-width: 1px;
  padding-right: 5px;
  /* outline: 0 #4285F4 solid; */
}

.input_profile:invalid {
  border: 1px #EE3465 solid;
}

.input_entrance {
  width: 100%;
  min-height: 34px;
  align-items: center;
  outline: none;
  border-bottom: 1px #424242 solid;
  border-radius: 0;

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.input_entrance:focus {
  border-color: #4285F4;
}

.input_entrance:invalid {
  color: #EE3465;
}

