.movies-card  {
  display: flex;
  flex-direction: column;
  position: relative;
}

.movies-card__button {
  display: flex;
  position: absolute;
  top: 14px;
  right: 14px;
}

.movies-card__button_save {
  min-width: 72px;
  height: 21px;
  background-color: #313131;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: .7;

  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: .9;
  color: #FFFFFF;
}

.movies-card__button_saved {
  width: 21px;
  height: 21px;
  background-color: #EE3465;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
}

.movies-card__button_saved:hover {
  opacity: .8;
}

.movies-card__button_delete {
  width: 21px;
  height: 21px;
  background-color: #313131;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.8;
}

.movie-card__image-container {
  position: relative;
  display: block;
  width: 100%;
  padding-top: 56%;
}

.movie-card__image {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.movie-card__image_less-then-three {
  max-width: 360px;
}

.movie-card__lable {
  margin: 14px 14px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.movie-card__name {
  margin: 0 14px 0 0;

  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
}

.movie-card__duraiton {
  margin: 0;
  min-width: 52px;
  height: 18px;
  background-color: #2F2F2F;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  flex-shrink: 0;

  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: .91;
  color: #8B8B8B;
}

@media screen and (max-width: 768.98px) {
  .movie-card__lable {
    margin: 25px 0 0;
  }
}

@media screen and (max-width: 619.98px) {
  .movie-card__lable {
    margin: 15px 0px 0;
  }


  .movie-card__image_less-then-three {
    max-width: 100%;
  }
}