.button {
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  transition: opacity 200ms ease-in-out;
}


.button:disabled {
  opacity: .7;
  cursor: not-allowed;
}

.button:hover {
  opacity: 1;
}