.form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.form_profile {
  min-height: 315px;

  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
}

.form_entrance {
  min-height: 380px;
}

@media screen and (max-width: 768.98px) {
  .form_profile {
    min-height: 305px;
  }
}

@media screen and (max-width: 619.98px) {
  .form {
    min-height: 0;
    flex-grow: 1;
  }
}