.entrance-form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.entrance-form__title {
  margin: 22px 0 41px;
  padding: 0;
}

.entrance-form__label {
  margin-bottom: 24px;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-bottom: 1px #424242 solid;

  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #8B8B8B;
}

.entrance-form__error-container {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: auto;

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #EE3465;
}
.entrance-form__error{
  /* display: block; */
  opacity: 1;
  animation: appear 4s forwards;

/* transition: opacity 350ms; */
}

/* .error:empty {
  display: none;
} */

@keyframes appear {
  0% {opacity: 0;}
  2% {opacity: 1;}
  90% {opacity: 1;}
  100% {opacity: 0;}
}

.entrance-form__submit-button {
  margin-top: 20px;
  padding: 14px;
  width: 100%;
  background-color: #4285F4;
  border-radius: 3px;

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
}

.entrance-form__submit-button:hover {
  opacity: 0.7;
}
.entrance-form__text {
  margin: 16px 0;
  display: inline;

  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;  
}

.entrance-form__link-to-login {
  margin-left: 5px;
  
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #4285F4;
}

@media screen and (max-width: 619.98px) {
  .entrance-form {
    height: calc(100vh - 74px - 54px);  
    align-items: center;
  }

  .entrance-form__titile {
    margin: 31px 0 80px;
  }

  .entrance-form__submit-button {
    font-size: 12px;
    line-height: 15px;
  }

  .entrance-form__text, .entrance-form__link-to-login {
    font-size: 12px;
    line-height: 15px;
  }
}