.promo {
    display: flex;
    width: 100vw;
    min-height: 524px;
    padding-top: 184px;
    background-color: #073042;
    position: relative;
    justify-content: center;
  }

  .promo__titile {
    margin: 0;
    width: 730px;
    min-height: 116px;

    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 1.16;
    text-align: center;
    /* letter-spacing: -0.04em; */
  }

  .promo__logo {
    width: 320px;
    height: 320px;
    position: absolute;
    top: 82px;
  }
