.page {
  width: 100%;
  background-color:#202020;
  color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page__container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page__container_not-logged {
  max-width: 396px;
}