.header__buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  color: #FFFFFF;
}

.header__buttons_main {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
}

.header__button {

}

.header__button_signup {
  margin-right: 30px;
}

.header__button_signin {
  box-sizing: border-box;
  padding: 8px 20px;
  background-color: #3DDC84;
  border-radius: 3px;

  color: #000000;
}