.search {
  width: 100%;
  border-bottom: 1px #424242 solid;
}

.search__form {
  margin: 70px 0;
  width: 100%;
  height: 72px;
  display: flex;
  align-items: center;
  background-color: #222222;
  box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.08);
  border-radius: 9px;
  position: relative;
}

.search__line  {
  display: flex;
  flex: 1 0 auto;
  align-items: center;
}

.search__icon-search {
  margin: 0 10px 0 19px;
  width: 34px;
  height: 34px;
}

.search__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px 0 19px;
  width: 34px;
  height: 34px;
}

.search__icon-remove {
  width: 20px;
  height: 20px;
  transition: .2s ease-in-out;
}

.search__icon-remove:hover {
  transform: scale(1.4);
}

.search__input {
  padding: 0;
  background: none;
  display: flex;
  width: 100%;
  outline: none;
  border: none;
  min-height: 34px;

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.11;
  color: #fff;
}

.search__input::placeholder {
  color: #8B8B8B;
}

.search__input:focus {
  border-bottom: 1px #4285F4 solid;
}

.error-span {
  display: block;
  position: absolute;
  top: 20px;
  left: 30%;

  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.11;
  color: #EE3465;
}

.search__submit-button {
  margin: 0 19px 0 46px;
  display: flex;
}

.search__submit-icon {
  transition: .2s;
}

.search__submit-icon:hover {
  transform: scale(1.2);
}

.search__filter {
  padding: 0 30px;
  box-sizing: border-box;
  height: 40px;
  display: flex;
  align-items: center;
  border-left: 1px #505050 solid;
}

.search__toggle {
  display: flex;
  align-items: center;
}

.search__toggle-lable {
  margin: 0 0 0 14px;

  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.38;
}

@media screen and (max-width: 768.98px) {
  .search__filter {
    padding: 0 22px;
  }

  .search__form {
    margin-bottom: 110px;
  }

}

@media screen and (max-width: 619.98px) {
  .search__form {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .search__line  {
    width: 100%;
    align-items: center;
  }

  .search__icon {
     /*display: none;*/
  }

  .search__input {
    /*padding: 0 19px;*/
    font-size: 18px;
    line-height: 1.11;
  }

  .search__filter {
    border: none;
    position: absolute;
    top: 107px;
  }

  .search__submit-button {
    margin: 0 19px 0 0;
  }

  .search__toggle-lable {
    font-size: 11px;
    line-height: 18px;
  }
}
