.header {
    width: 100%;
    min-height: 74px;
    background-color: #073042;
    display: flex;
    justify-content: center;
}

.header-container{
    padding: 0 70px;
    box-sizing: border-box;
    width: 100%;
    max-width: 1280px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    width: 38px;
    height: 38px;
}

.header__elements {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header__signup {
    margin-right: 30px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    color: #FFFFFF;
}

.header__signin {
    box-sizing: border-box;
    padding: 8px 20px;
    background-color: #3DDC84;
    border-radius: 3px;

    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    color: #000000;
}

