.header {
    width: 100%;
    min-height: 74px;
    display: flex;
    justify-content: center;
}

.header_main-page {
    background-color: #073042;
}

.header__container {
    padding: 0 70px;
    box-sizing: border-box;
    width: 100%;
    max-width: 1280px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__container_without-padding{
    padding: 0;
    max-width: 100%;
}

.header__logo {
    width: 38px;
    height: 38px;
}