.toggle {
  position: relative; 
}
.toggle-checkbox {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
.toggle-label {
  display: flex; 
  overflow: hidden; 
  cursor: pointer;
  border-radius: 20px;
  background-color: #505050;
}

.toggle-inner {
  display: flex; 
  width: 34px;
  height: 14px;
  background-color: #3DDC84;
  opacity: 0;
  transition: 0.2s ease-in 0.1s;
}

.toggle-inner:after {
  content: "";
}

.toggle-slider {
  display: flex; 
  width: 10px; 
  height: 10px;
  margin: 2px;
  background: #fff;
  position: absolute; 
  top: 0; 
  bottom: 0;
  right: 20px;
  border-radius: 50%;
  transition: all 0.2s ease-in 0s; 
}
.toggle-checkbox:checked + .toggle-label .toggle-inner {
  opacity: 1;
}
.toggle-checkbox:checked + .toggle-label .toggle-slider {
  right: 0px; 
}