.about-me {
    width: 100%;
    background-color: #202020;
    display: flex;
    justify-content: center;
}

.about-me__container {
    padding: 110px 70px 101px;
    box-sizing: border-box;
    width: 100%;
    max-width: 1280px;
    flex-direction: column;
    align-items: center;
}

.about-me__header{
    width: 100%;
    margin-bottom: 66px;
}

.about-me__title {
    min-height: 27px;
    margin: 0;

    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    /* letter-spacing: -0.04em; */
}

.about-me__underline {
    margin-top: 23px;
    border-bottom: 1px #FFFFFF solid;
}

.student {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.student__info {
    margin-right: 50px;
    width: 600px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.student__name {
    margin: 0;

    font-weight: 400;
    font-size: 50px;
    line-height: 1.16;
    /* letter-spacing: -0.04em; */
}

.student__specialization{
    margin: 18px 0 26px;

    font-weight: 500;
    font-size: 18px;
    line-height: 1.11;
    mix-blend-mode: normal;
}

.student__description {
    margin: 0;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.57;
    mix-blend-mode: normal;
}

.student__link {
    position: absolute;
    bottom: 0;
    left: 0;

    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}

.student__photo {
    width: 270px;
    height: 327px;
    border-radius: 10px;
}